{% extends 'base.html.twig' %}

{% block title %}Les offres des emplois{% endblock %}

{% block body %}
<div class="section-full bg-white content-inner-2">
			<div class="container">
   <form action="{{path('offre_emlpoi_controllercrudd_new')}}">                               
         <button class="btn btn-success"> <i class="fa fa-tick"></i>ajouter un offre</button>
  </form>
				<div class="row">
                {% for o in offres %}
					<div class="col-lg-9">
						<ul class="post-job-bx">
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/logo/icon1.png"></span>
										</div>
										<div class="job-post-info">
											<h4>nom : {{ o.nom }}</h4>
                                            <h5> description {{o.description}} </h5>
                                            <h6> required : {{o.comptences}} </h6>
											<ul>
                                                <li><i class="fa fa-bookmark-o"></i>nombre de place : {{o.nombreposte}} </li>
												<li><i class="fa fa-clock-o"></i>{{ o.datedebut|date('Y-M-D') }}</li>
												<li><i class="fa fa-clock-o"></i>{{ o.datefin|date('Y-M-D') }}</li>
                                                <li><button class="btn btn-danger"><i class="fa fa-trash"></i></button></li>
                                                <li><button class="btn btn-warning"><i class="fa fa-edit"></i></button></li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span class="btn btn-success">{{ o.etat }}</span>
										</div>
										<div class="salary-bx">
											<span>{{ o.salaire }} dinars</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
						</ul>
						<div class="m-t30">
							
						</div>
					</div>
                     {% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
