{% extends 'dashboard.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h2>Liste des Candidats</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Status</th>
                <th>Image</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.status }}</td>
                <td><img class="img-responsive" style="width: 150px;" src="{{asset('images/candidats/' ~ candidat.image )}}"  ></td>
                <td>{{ candidat.age }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('candidat_crud_show', {'id': candidat.id}) }}">Consulter</a>
                    <a class="btn btn-warning" href="{{ path('candidat_crud_edit', {'id': candidat.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('candidat_crud_new') }}">Create new</a>
{% endblock %}
